@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800');

.button1 {
    background-color:#aa2129;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    
}

.button1:hover {
    background-color: rgb(147, 14, 0);
    color: white;
    }

.button2 {
    background-color:white;
    color: #aa2129;
    border: 2px solid #aa2129;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    

} 

.button2:hover {
    background-color: #aa2129;
    color: white;
}

img {
    width: 100%;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    font-size: 30px;

}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    font-size: 20px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
     font-size: 17px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-style: regular;
     font-size: 16px;
}


.color {
    height: 75px;
     width: 150px;
     display: block;
     border: 1px solid black;
     margin: 0px 10px 10px 10px;
}


.kleur1 {
     background-color:#aa2129; 
}

.kleur2 {
     background-color:black;
     color: white;
}

.kleur3 {
     background-color:white;
}

.kleur4 {
     background-color:#66afd8;
}



